* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

.h1-1 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }

.section4 {
  background-color: grey; }

.g-col-6 {
  border: solid black 1px; }

.h1-3 {
  text-align: center; }

.h3-3 {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }
