* {
  margin: 0;
  padding: 0; }

.h2-1 {
  justify-content: center;
  margin-bottom: 20px; }

.section4 {
  background-color: grey; }

.g-col-6 {
  border: solid black 1px; }

.h2-3 {
  justify-content: center; 
}

