*{
  padding: 0%;
  margin: 0%;
  text-decoration: none;
}



.menu-principal {
  text-decoration: none;
  font-size: 27px;
  display: flex;
  justify-content: space-around;
}

.tdv{
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  margin-right: calc(var(--bs-gutter-x)/ -2);
  margin-left: calc(var(--bs-gutter-x)/ -2);
}

.img1{
  width: 500px;
  padding: 40px 40px 40px 40px;
  background-color: grey;
}

.ventas.1 {
  background-color: gray; }


.vender-1 {
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
}

.formulario-ventas{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
}

.row{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.h3-1{
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.h1-1{
  text-align: center;
}

.suplog{
  background-color: white;
}

.filtrar{
  justify-content: end;
}
select {
  font-size: 20px;
  margin-left: 1770px;
}
select option{
  font-size: 15px;
}
body{
  background-color: ghostwhite;
}
.masbuscadasmain{
  margin-top: 30px;
  margin-bottom: 30px;
}
.masbuscadas-main {
  display: flex;
  overflow-x: scroll;
}
.lasaltas {
  border: solid black;
  width: 250px;
  margin-left: 20px;
}

.godines {
  border: solid black;
  width: 250px;
  margin-left: 20px; 
  height: 200px;
}
.travis {
  border: solid black;
  width: 250px;
  margin-left: 20px;
}
.bartsimp {
  border: solid black;
  width: 250px;
  margin-left: 20px;
}
.orange {
  border: solid black;
  width: 250px;
  margin-left: 20px;
}
.offwhite {
  border: solid black;
  width: 250px;
  margin-left: 20px;
}
.allstar {
  border: solid black;
  width: 250px;
  margin-left: 20px;
}
.vansxsup {
  border: solid black;
  width: 250px;
  margin: 0px 20px;
}

.pie-pagina{
  margin-top: 40px;
  margin-bottom: 15px;
}

.grid-container4{
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 4fr);
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  overflow: hidden;
  grid-template-areas: 
  "noticiasmedio, noticiasmedio, noticiasmedio, noticiasm";
}
.noticiasmargin{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.noticiasm{
  grid-area: noticiasm;
}
.lomasleido2{
  margin-right: 75px;
  border-bottom: solid black 0.1px;
}
footer {
  margin-bottom: 10px;
}

.contacto{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.sneakers {
  margin-left: 60px;
  margin-top: 30px;
}
#main{
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
  margin-top: 60px;
}
.zapas-grid{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 20px;
  overflow: hidden;
  grid-template-rows: repeat(2, 4fr);
  margin-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  grid-template-areas: "zapas-1 zapas-2 zapas-2 zapas-2 zapas-2";
}
.zapas-1{
  grid-area: zapas-1;
} 
.zapas-2{
  grid-area: zapas-2;
}
.marcas{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
} 
.brand{
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 30px;
  text-decoration: underline black;
}
.adidas{
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
.nike {
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
.jordan{
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
.reebok{
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
.new-balance{
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
.otras-marcas{
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
.lujosas{
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
.coleccion{
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 30px;
}
#all{
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}
.standard {
  width: 250px;
  margin-left: 20px;
}
.zapas-2{
  display: flex;
  flex-wrap: wrap;
}
#main-container {
  border-width: 0;
  border-style: solid;
  box-sizing: border-box;
}
.venta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.video1{
  display: flex;
  justify-content: end;
}

@media screen and (max-width: 768px) {
  
  .zapas-grid{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 25%);
      margin-bottom: 20px;
      overflow: hidden;
      grid-template-rows: repeat(2, 4fr);
      margin-top: 30px;
      margin-left: 100px;
      margin-right: 100px;
      grid-template-areas: "zapas-1 zapas-2 zapas-2";
  }
  .zapas-1{
      grid-area: zapas-1;
      margin-left: 0px;
  } 
  .zapas-2{
      grid-area: zapas-2;
  }

  .menu-principal a {
      text-decoration: none;
      font-size: 27px;
      margin-right: 35px;
  }
  .standard{
      width: 100px;
      margin-left: 10px;
  }
}
  
@media screen and (max-width: 320px) {
  .zapas-grid{
      display: grid;
      grid-gap: 10px;
      grid-template-columns: repeat(2, 50%);
      margin-bottom: 20px;
      overflow: hidden;
      grid-template-rows: repeat(2, 4fr);
      margin-top: 10px;
      margin-left: 40px;
      margin-right: 40px;
      grid-template-areas: "zapas-1 zapas-2 zapas-2";
  }
  .zapas-1{
      grid-area: zapas-1;
  } 
  .zapas-2{
      grid-area: zapas-2;
  }

  .menu-principal a {
      text-decoration: none;
      font-size: 35px;
      margin-right: 35px;
  }
  .standard{
      width: 100px;
      margin-left: 10px;
  }
}