$size-20: 20px;
$ancho: 100%;
$blue: #4285f4;
$green: green;
$tipo-de-letra: verdana;
$grey: grey;
$size-0: 0px;
$border-solido: solid;
$black: black;
$size-1: 1px;
$size-300: 300px;
$size-24: 24px;
$size-400: 400px;
$centro: center;
$gris-oscuro: gray;
$size-30: 30px;
$size-40: 40px;
