<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    
    <header class="encabezado">
        <nav class="menu-principal">
            <a href="../index.html">Inicio</a>
            <a href="./marcas4.html">Marcas</a>
            <a href="./vender2.html">Vender</a>
            <a href="./noticias3.html">Noticias</a>
            <a href="./atencion-cliente5.html">Atención al Cliente</a>
        </nav>
    </header>


    <form>
        <fieldset>
            <legend>formulario de contacto</legend>
            <lebel for=nombre_apellido>Nombre:</lebel>
            <input type="text" name="Nombre" placeholder="escriba aquí su nombre">
            <lebel for=nomre_apellido>Apellido:</lebel>
            <input type="text" name="nombre" placeholder="escriba aquí su apellido">
            <br>
            <br>
            <select name="pais">
                <option value="seleccionar">seleccionar país</option> 
                <option value="A">Argentina</option>
                <option value="U">Uruguay</option>
                <option value="CH">Chile</option>
                <option value="B">Bolivia</option>
            </select>

            <div>Nos gustaría saber su experiencia de compra</div>
            <textarea name="text" cols="150" rows="10" placeholder="escriba aquí "></textarea>
            <div>
                
                
            </div>
            <input type="submit" value="Enviar formulario">
            <input type="reset" value="Limpiar formulario">

        </fieldset>
    </form>

    <footer class="pie-pagina">
        <h2>Contactos y Redes Sociales</h2>
        <div class="contacto">
            cel: 1141638071
        </div>
        <div class="redes-sociales"> instagram: shoes_XD
            twitter: @shhoes
        </div>
    </footer>












</body>
</html>