<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div>
        <div>

            <header class="encabezado">
                <nav class="menu-principal">
                    
                    <a href="../index.html">Inicio</a>
                    <a href="./marcas4.html">Marcas</a>
                    <a href="./vender2.html">Vender</a>
                    <a href="./noticias3.html">Noticias</a>
                    <a href="./atencion-cliente5.html">Atención al Cliente</a>
                    
                </nav>
            </header>

            <h3>Aquí encontrarás tus sneakers favoritas</h3>

            <iframe width="560" height="315" src="https://www.youtube.com/embed/-FueaRH6mwI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>




            <footer class="pie-pagina">
                <h2>Contactos y Redes Sociales</h2>
                <div class="contacto">
                    cel: 1141638071
                </div>
                <div class="redes-sociales"> instagram: shoes_XD
                    twitter: @shhoes
                </div>
            </footer>
    


        </div>
    </div>















</body>
</html>