<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Noticias</title>
    <link rel="stylesheet" href="../css/prueba.css">
</head>

<body>

    <div id="all">

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">Inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./vender.html">Vender</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="./noticias3.html">Noticias</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Comprar
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="./zapas.html">Zapas</a></li>
                                    <li><a class="dropdown-item" href="#">Hoodies</a></li>
                                    <li><a class="dropdown-item" href="#">Pantalones</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Accesorios</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="./atencion-cliente5.html">Atención al Cliente</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>

        <main id="general">

            <div class="container h1-news">
                <h1 class="text-center my-4 h1-main">Encontrá las noticias de tus marcas y productos favoritos</h1>
            </div>

            <section id="news" class="container my-4">
                <div class="news-block">
                    <div class="left-block">
                        <article>
                            <div class="text-center">
                                <h1>Dior presenta su colección cápsula Dioriviera
                                </h1>
                            </div>
                            <div>
                                <figure>
                                    <img class="news1" src="../multimedia/dioriviera.jpg" alt="">
                                </figure>
                            </div>
                            <div class="p-left parrafo1">
                                <div class="news-p">
                                    <p>La mansión Dior presenta su cápsula Dioriviera, diseñada por Maria Grazia Chiuri,
                                        reintentando los fundamentos de la casa en luminosos azules, naranjas y rosas
                                        fluorescentes inspirados en la colección de Otoño 2022.
                                    </p>
                                    <p>
                                        El estampado protagonista es La toile de Jouy que viste faldas, vestidos, shorts,
                                        trajes
                                        de baño y en algunos de los accesorios icónicos de la Maison.
                                    </p>
                                    <p>
                                        Los bolsos Lady D-Lite, Dior Book Tote y Diorcamp, así como el clutch Dior Travel se
                                        atreven con este motivo clásico. Las mules Dway, las sandalias DiorAct, los ponchos,
                                        las
                                        bufandas y los bobs resaltan para combinar con las camisetas marineras con nombres
                                        de
                                        destinos paradisiacos.
                                    </p>
                                    <p>
                                        La cápsula decorará algunos de los escaparates más emblemáticos de todo el mundo:
                                        desde
                                        Mykonos a Bodrum, de Capri a Ibiza y de Tokio a Paraggi.
                                    </p>
                                </div>
                            
                            </div>
                        </article>
                        <section>
                            <div class="my-3">
                                
                                <h4 class="text-center">Más Noticias</h4>
                            
                                <div class="card-news">
                                    <div class="card" style="width: 18rem;">
                                        <img src="../multimedia/dior-seul.jpg" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5>Museo en Nueva York pone a dialogar a Dior y Balenciaga</h5>
                                        </div>
                                        <div class="boton-cardnews">
                                            <button type="button" class="btn btn-warning">leer más</button>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 18rem;">
                                        <img src="../multimedia/diordesdelasarenas.jpg" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5>Dior desde las arenas del tiempo</h5>
                                        </div>
                                        <div class="boton-cardnews">
                                            <button type="button" class="btn btn-warning">leer más</button>
                                        </div>
                                    </div>
                                    <div class="card" style="width: 18rem;">
                                        <img src="../multimedia/timothy.jpg" class="card-img-top" alt="">
                                        <div class="card-body text-cardnews">
                                            <h5>Museo en Nueva York pone a dialogar a Dior y Balenciaga</h5>
                                        </div>
                                        <div class="boton-cardnews">
                                            <button type="button" class="btn btn-warning">leer más</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                

                    <div class="right-block">
                        <article class="art-right">
                            <div class="text-center">
                                <h2>Más de 13 mil personas visitaron la última edición de Emitex, Simatex y Confemaq
                                </h2>
                            </div>
                            <div>
                                <figure>
                                    <a href="">
                                        <img class="news1" src="../multimedia/emitex-simatex-y-confemaq.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                        </article>
                        <article class="art-right">
                            <div class="text-center">
                                <h2>¿Qué es lo próximo en la moda digital?
                                </h2>
                            </div>
                            <div>
                                <figure>
                                    <a href="">
                                        <img class="news1" src="../multimedia/moda-digital.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                        </article>
                        <article class="art-right">
                            <div class="text-center">
                                <h2>Conferencia “Moda y España. Un tema pendiente”, desde el Ateneo de Madrid
                                </h2>
                            </div>
                            <div>
                                <figure>
                                    <a href="">
                                        <img class="news1" src="../multimedia/ateneo-madrid.jpg" alt="">
                                    </a>
                                </figure>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="text-muted">Early Games</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <div>
                            <img class="tw" src="../multimedia/twitter.png" alt="">
                        </div>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <div>
                            <img class="ig" src="../multimedia/instagram (1).png" alt="">
                        </div>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <div>
                            <img class="wsp" src="../multimedia/whatsapp.png" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </footer>
    </div>














    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
        </script>

</body>

</html>