<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Zapas</title>
    <link rel="stylesheet" href="../css/prueba.css">
</head>

<body>

    <div id="all"> 

        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="../index.html">Inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Comprar
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="#">Hoodies</a></li>
                                    <li><a class="dropdown-item" href="#">Pantalones</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Accesorios</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="./atencion-cliente5.html">Atención al Cliente</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
        </header>


        <div class="container">
            <h1 class="h1-2 text-center my-3">El Mejor Lugar Para Comprar Sneakers</h1>
        </div>

        <div class="container my-3">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../multimedia/banner jordan.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../multimedia/banner balenciaga.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../multimedia/banner bart.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="container my-5">
            <div class="boton-zapas">
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Filtrar Por
                    Marca</button>

                    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                        aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Marcas</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <div>
                                <a href="">
                                    <p>ADIDAS<p>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <p>NIKE</p>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <p>JORDAN</p>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <p>NEW-BALANCE</p>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <p>REEBOK</p>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <p>OTHERS BRANDS</p>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <p>LUXURY BRANDS</p>
                                </a>
                            </div>
                            <div>
                                <a href="">
                                    <p>COLLECTIONS</p>
                                </a>
                            </div>
                        </div>
                    </div>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                    aria-controls="offcanvasTop">Filtrar por Talle</button>

                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop"
                    aria-labelledby="offcanvasTopLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasTopLabel">Offcanvas top</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        ...
                    </div>
                </div>
                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Filtar por Precio</button>

                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
                    aria-labelledby="offcanvasRightLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        ...
                    </div>
                </div>
            </div>
            <div class="my-5">
                <div class="row flex-card">
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/yeezy 700.png" class="card-img-top" alt="AdidasYeezy">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Adidas Yeezy 700 V3</h5>
                                <p class="card-text">Azael</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                        
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/Nike Air Force 1 Low - tripleblack.png" class="card-img-top" alt="airforce 1-tripleblack">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Nike Air Force 1 Low</h5>
                                <p class="card-text">Triple Black</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/airforce 1 - triplewhite .png" class="card-img-top" alt="airforce 1-triplewhite">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Nike Air Force 1 Low</h5>
                                <p class="card-text">Triple White</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/all star off white (1).png" class="card-img-top" alt="allstar offwhite">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Converse All-Star 70 Hi</h5>
                                <p class="card-text">Off-White</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/balenciaga track.png" class="card-img-top" alt="balenciaga-track">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Balenciaga Track</h5>
                                <p class="card-text">White</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/nike sb grateful dead beard (1).png" class="card-img-top" alt="nike sb grateful dead beard">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Nike SB Dunk Low</h5>
                                <p class="card-text">Grateful Dead Bears Orange</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/jordan 1 x travis scott.png" class="card-img-top" alt="jordan 1 high Trvis Scott">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Jordan 1 Retro High</h5>
                                <p class="card-text">Travis Scott</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/Jordan 1 Retro High - Dior.png" class="card-img-top" alt="Jordan 1 High Dior">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Jordan 1 Retro High</h5>
                                <p class="card-text">Dior</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/nike dunk panda.png" class="card-img-top" alt="nike dunk Panda">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Nike Dunk Low</h5>
                                <p class="card-text">Retro White Black Panda</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/nike dunk low - offwhite lot50.png" class="card-img-top" alt="nike dunk - offwhite lot50">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Nike Dunk Low</h5>
                                <p class="card-text">Off-White Lot 50</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/Jordan 4 Retro Metallic Purple.png" class="card-img-top" alt="Jordan 4 Retro">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Jordan 4 Retro</h5>
                                <p class="card-text">Metallic Purple</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                    <div class="card card-zapas" style="width: 18rem;">
                        <a href="">
                            <div>
                                <img src="../multimedia/Louis Vuitton LV Trainer Green.png" class="card-img-top" alt="Louis Vuitton LV Trainer">
                            </div>
                            <div class="card-body">
                                <h5 class="card-subtitle mb-2 text-muted">Louis Vuitton LV Trainer</h5>
                                <p class="card-text">Green</p>
                                <span class="card-text">$0000</span>
                            </div>
                            <div class="boton-comprar">
                                <button type="button" class="btn btn-success">Comprar</button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                    <svg class="bi" width="30" height="24">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                </a>
                <span class="text-muted">Early Games</span>
            </div>

            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <div>
                            <img class="tw" src="../multimedia/twitter.png" alt="">
                        </div>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <div>
                            <img class="ig" src="../multimedia/instagram (1).png" alt="">
                        </div>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-muted" href="#">
                        <div>
                            <img class="wsp" src="../multimedia/whatsapp.png" alt="">
                        </div>
                    </a>
                </li>
            </ul>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>

</html>