@import "../variables/variables";
@import "../sass2/mixins";

.zapas-3{
    width: $size-20;
}

.h5-2{
    color: $black;
}

.columna-zapas2{
    display: flex;
    @include wrap-wrap;
}

.card-zapas{
    margin: 20px 20px 20px 20px;
}

.sober-container{
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 40px;
}

.zapas{
    @include dis-flex;
    @include row;
}

.boton-zapas{
    @include dis-flex;
    @include justificar-medio;
    justify-content: space-around;
}

.flex-card{
    @include dis-flex;
    @include row;
    @include wrap-wrap;
}

.boton-comprar{
    @include dis-flex;
    @include jus-end;
    margin-bottom: $size-15;
}

.h1-zapas{
    font-family: 'Courier New', Courier, monospace, serif;
}

.img-zapas{
    padding-left: 2%;
}
