@import "../variables/variables.scss";

@mixin justificar-medio {
    justify-content: center;
}

@mixin flex-start {
    justify-content: flex-start;
}

@mixin wrap-wrap {
    flex-wrap: wrap;
}

@mixin dis-flex {
    display: flex;
}

@mixin jus-end {
    justify-content: end;
}

@mixin items-end {
    align-items: flex-end;
}

@mixin row{
    flex-direction: row ;
}