@import "../variables/variables.scss";

@mixin margen-abajo {
    margin-bottom: 20px;
}

@mixin justificar-medio {
    display: flex;
    justify-content: center;
}

@mixin alinear-medio {
    text-align: center;
}

@mixin flex-start {
    display: flex;
    justify-content: flex-start;
}

@mixin wrap-wrap {
    display: flex;
    flex-wrap: wrap;
}